main .cores-componentes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cores-componentes .cores-componentes-texto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cores-componentes .componentes{
    display: flex;
}