header{
    background-color: black;
}

header .container{
    padding: 3rem 1.5rem;
    color: white;
    display: flex;
    justify-content: space-between;
}

.container > span{
    font-size: 2.5rem;
    font-weight: bolder;
}

.container > ul{
    font-size: 1.3rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

ul a{
    color: white;
    font-weight: bolder;
}